{% extends 'main.html' %} {% load static %} 
{% block title %} Home Page {% endblock title %}
  {% block mainscreen %}

  <li class="active"><a class="" href="/">Home</a></li>


      <li><a class="" href="/explore">Explore</a></li>

      <li><a class="" href="/search">Search</a></li>
       <li><a class="" href="/interests">Interests</a></li>
        <li><a class="" href="/about">About</a></li>
      <li><a class="" href="/logout">Logout</a></li>
      {% endblock mainscreen %}
  {% block mobilescreen %}


    <li class="active"><a class="" href="/">Home</a></li>

      <li><a class="" href="/explore">Explore</a></li>

      <li><a class="" href="/search">Search</a></li>
       <li><a class="" href="/interests">Interests</a></li>
        <li><a class="" href="/about">About</a></li>
      <li><a class="" href="/logout">Logout</a></li>
      {% endblock mobilescreen %}
{% block content %} 




	<div class=" container-fluid news-con py-3 px-3">
	  {% for datum in data %}
	  <div class="news rounded " style="background: black;">
	    <a href="{{datum.link}}">
	    <div class="new-image-con">
	      <img class="new-image" src="{{datum.imageurl}}" alt="" />
	     </div>
	     <div class="new-content" style="background: transparent;">
	       <h5 class="text-center" style="background: transparent;color:var(--secondary-color);">{{datum.interest | title}}</h5>
	       <h3 class="py-1" style="background: transparent;">{{datum.title | title | truncatewords:13}}</h3>
	       <p class="" style="background: transparent;">{{datum.excerpt|truncatewords:24}}</p>
	     </div>
	     </a>
	  </div>
	  
 
	   {% endfor %}
	  </div>

{% endblock content %}